Repository coala/coala, pull requests merged in 2018-11, with the labels that each got.

#5855 LocalBearTestHelper.py: Add deprecation warning
  coalib/testing/LocalBearTestHelper.py
  tests/testing/LocalBearTestHelperTest.py
Labels: difficulty/low, importance/medium, process/pending review, size/XS

#5870 FileFactory: Rename
  coalib/io/File.py
  coalib/processes/Processing.py
  docs/Developers/IO.rst
  docs/Developers/NextGen_Core.rst
  tests/io/FileTest.py
  tests/io/file_test_files/test1.txt
  tests/io/file_test_files/test2.txt
Labels: difficulty/low, difficulty/newcomer, importance/high, process/pending review, size/S, status/duplicate, type/bug

#5881 Add .editorconfig to moban sync & moban sync
  .editorconfig
  .gitignore
  .moban.yaml
  setup.py
  test-requirements.txt
Labels: difficulty/low, initiatives/gci, process/pending review, size/S

#5867 coalaTest: Add test preventing unknown warnings
  tests/coalaTest.py
Labels: process/pending review, size/XS

#5879 Newcomers_Guide.rst: Commands to Send Changes
  docs/Developers/Newcomers_Guide.rst
Labels: area/documentation, difficulty/newcomer, process/pending review, size/XS

#5885 Dot language definition
  coalib/bearlib/languages/__init__.py
  coalib/bearlib/languages/definitions/DOT.py
  tests/TestUtilities.py
Labels: area/aspects, area/documentation, area/languages, difficulty/medium, initiatives/gci, process/pending review, size/XS

#5886 Add language definition for Verilog
  coalib/bearlib/languages/__init__.py
  coalib/bearlib/languages/definitions/Verilog.py
  tests/TestUtilities.py
Labels: area/aspects, area/documentation, area/languages, difficulty/medium, initiatives/gci, process/pending review, size/XS

#5865 Linter stream info
  coalib/bearlib/abstractions/Linter.py
  tests/bearlib/abstractions/LinterTest.py
Labels: area/lintbears, area/logging, importance/critical, process/pending review, size/S, status/blocked, type/bug, type/feature
